@page
@model WebApplication1.Pages.CreateModel
@{
}



<div class="form-container">
  <h2>Create Account</h2>
  <form method="post">
        <div class="form-group">
          <input type="text" placeholder="Name" name = "name" required>
        </div>
        <div class="form-group">
          <input type="email" placeholder="Email" name = "email" required>
        </div>

        <label> 
                <input type="text" name="password" placeholder = Password > 
         </label><br>

    <div class="form-group gender-group">
        <label>Gender</label>
        <div class="radio-options">
            <label>
                <input type="radio" name="gender" value="male" required> Male
            </label>


            <label>
                <input type="radio" name="gender" value="female"> Female
            </label><br>
            
            
        </div> <br>
         <button type="submit">Create</button> <p></p>

         @if(!(@TempData["validateUser"] == null)) {
               <h4 style = "color : green ;">@TempData["validateUser"]</h4>

         }
         else {
         <p>Already have an Account? <a asp-page="/index" >Sign in</a> </p>
         }
       
    </div>
    </form>
</div>
 

